@charset "UTF-8";

:root{
   --Fundo-principal-cards: #FFFFFF;
   --Fundos-secundários-seções: #E3F2FD;
   --Botões-links-destaques: #2196f3;
   --Textos-principais: #1565C0;
   --Bordas-separadores: #F5F5F5;
   --Textos-secundarios: #9E9E9E;
}

*{
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
}

section#welcome{
   background: linear-gradient(rgba(21,101,192,0.6), rgba(21,101,192,0.6)), url(../imagens/fundo2-welcome.jpg);
   min-height: 100dvh;
   background-position: center left;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: local;

   display: flex;
   justify-content: center;
   align-items: center;
}

header{
   color: var(--Fundo-principal-cards);
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;

   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   transition: background 0.3s ease, box-shadow 0.3s ease;
}

header.rolando {
   background-color: var(--Fundo-principal-cards);
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
   transition: 0.3s ease;
}

header.rolando #burger {
   color: var(--Textos-principais);
   transition: 0.3 ease;
}

header.rolando #burger:hover {
   background-color: var(--Fundo-principal-cards);
   color: var(--Textos-principais);
}

header h2 a{
   background: linear-gradient(to right, var(--Botões-links-destaques), var(--Textos-principais));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   text-decoration: none;
   padding-right: 20px;
   user-select: none;
   
}

#burger{
   margin: 20px;
   padding: 2px;
   font-size: 2em;
   cursor: pointer;
   user-select: none;
}

#burger:hover{
   background-color: var(--Fundos-secundários-seções);
   color: var(--Botões-links-destaques);
   border-radius: 8px;
   user-select: none;
}

#menu-lateral{
   border-radius: 0px 0px 8px 0px;
   box-shadow: 2px 4px 4px 3px rgba(158, 158, 158, 0.2);
   position: fixed;
   top: 0;
   left: 0;
   width: 180px;
   height: 300px;
   transform: translateX(-100%);
   transition: transform 0.3s ease;
   z-index: 1;
}

.list-menu #list-top{
   background-color: var(--Textos-principais);
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding-left: 10px;
   height: 240px;
   border-radius: 0px 0px 8px 0px;
   font-size: 1.4em;
}

.list-menu #list-top li{
   list-style: none;
}

.list-menu a{
   text-decoration: none;
   color: var(--Fundo-principal-cards);
}

.list-menu a:hover{
   color: var(--Botões-links-destaques);
}

#menu-lateral.ativo{
   transform: translateX(0);
}

.topo-menu{
   color: var(--Botões-links-destaques);
   height: 60px;
   display: flex;
   align-items: center;
   border-bottom: 2px solid var(--Fundos-secundários-seções);
}

#fechar{
   margin: 20px;
   padding: 2px;
   font-size: 2em;
   background-color: var(--Fundos-secundários-seções);
   color: var(--Botões-links-destaques);
   padding: 3px;
   border-radius: 8px;
   cursor: pointer;
}

#fechar:hover{
   background-color: var(--Fundos-secundários-seções);
   color: var(--Textos-principais);
   
   border-radius: 8px;
}

div.hello{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 85%;
   user-select: none;
}

div.hello h1{
   color: var(--Fundo-principal-cards);
   margin: 25px;
   text-align: center;
   font-size: 2.4em;
}

div.hello h2{
   color: var(--Fundo-principal-cards);
}

div.hello p{
   color: var(--Fundo-principal-cards);
   text-align: center;
   font-size: 1.1em;
   line-height: 1.5em;
   margin: 20px;
   padding: 10px;
}

.button a{
   background-color: var(--Fundo-principal-cards);
   color: var(--Textos-principais);
   text-decoration: none;
   font-weight: bold;
   display: inline-flex;
   align-items: center;
   padding: 20px;
   border-radius: 12px;
   gap: 8px; 
}

.button a i{
   transition: transform 0.3s ease;
}

.button a:hover i{
   transform: translateX(6px);
}

.button{
  opacity: 0;
  transform: translateY(30px);
  animation: subir 1s ease forwards;
}

@keyframes subir{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

section#sobre, #skills, #formacao, #projetos{
   display: grid;
   grid-template-columns: 15px 1fr 15px;
}

section#sobre h2.subtitle{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   grid-column: 2;
   text-align: center;
   height: 100px;
   width: auto;
   margin-top: 30px;
   margin-bottom: 50px;
   font-size: 2.1em;
   color: var(--Textos-principais);
   user-select: none;
}

section#sobre article{
   grid-column: 2;
   background-color: var(--Fundos-secundários-seções);
   margin-bottom: 100px;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

section#sobre article h3{
   color: var(--Textos-principais);
   font-size: 1.6em;
   user-select: none;
}

section#sobre article p{
   background: linear-gradient(to bottom, var(--Fundo-principal-cards), var(--Fundos-secundários-seções));
   color: var(--Textos-principais);
   box-shadow: 2px 4px 4px 3px rgba(158, 158, 158, 0.2);
   margin: 20px;
   padding: 15px;
   font-size: 1.1em;
   line-height: 1.5em;
   border-radius: 8px;
}

section#sobre article p a{
   color: var(--Botões-links-destaques);
   text-decoration: none;
   font-weight: bold;
}

section#sobre article p a:hover{
   color: var(--Textos-principais);
}

.foto-perfil{
   grid-column: 2;
   width: 200px;
   margin: 20px;
   border-radius: 50%;
   border: 5px solid var(--Fundo-principal-cards);
   outline: 5px solid var(--Botões-links-destaques);
   user-select: none;
}

section#skills{
   background-color: var(--Fundos-secundários-seções);
   gap: 10px;
   user-select: none;
}

section#skills h2.subtitle{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   grid-column: 2;
   text-align: center;
   height: 100px;
   width: auto;
   margin-top: 20px;
   font-size: 2.1em;
   color: var(--Textos-principais);
}

h2.subtitle::after{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 120px; 
  height: 3px;
  background: linear-gradient(to right, var(--Textos-principais), var(--Botões-links-destaques));
  border-radius: 5px;
}

section#skills #text-skills{
   display: flex;
   justify-content: center;
   align-items: center;
   grid-column: 2;
   text-align: center;
   height: 70px;
   color: var(--Botões-links-destaques);
   font-size: 1.1em;
   line-height: 1.5em;
}

section#skills .skills-itens{
   grid-column: 2;
   background-color: var(--Fundo-principal-cards);
   height: 120px;
   margin: 10px;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 2px 4px 4px 3px rgba(158, 158, 158, 0.2);
}

.skills-itens{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.skills-itens .icons-skills{
   color: var(--Fundo-principal-cards);
   font-size: 2em;
   width: 50px;
   height: 50px;
   border-radius: 8px;
}

.icons-skills i{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   border-radius: 8px;
   overflow: hidden;
}

.icons-skills i#icon-html{
   background-color: rgb(237, 95, 14);
}

.icons-skills i#icon-css{
   background-color: rgb(48, 114, 240);
}

.icons-skills i#icon-javascript{
   background-color: rgb(223, 165, 6);
}

.icons-skills i#icon-git{
   background-color: rgb(229, 52, 52);
}

.icons-skills i#icon-github{
   background-color: rgb(113, 47, 139);
}

.icons-skills i#icon-logica{
   background-color: rgb(10, 157, 5);
}

.skills-itens .text-skills h3{
   color: var(--Textos-principais);
   margin-bottom: auto;
   margin-bottom: 5px;
}

.skills-itens .text-skills {
   color: var(--Botões-links-destaques);
}

section#formacao h2.subtitle{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   grid-column: 2;
   text-align: center;
   height: 100px;
   width: auto;
   margin-top: 30px;
   margin-bottom: 50px;
   font-size: 2.1em;
   color: var(--Textos-principais);
   user-select: none;
}

h2#complementar{
   grid-column: 2;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--Fundo-principal-cards);
   color: var(--Botões-links-destaques);
   margin-bottom: 50px;
   padding: 10px;
   border: 2px solid var(--Botões-links-destaques);
   border-radius: 20px;
   font-size: 1.6em;
}

section#formacao article.form{
   grid-column: 2;
}

article.form{
   background: linear-gradient(to bottom, var(--Fundos-secundários-seções), var(--Fundo-principal-cards));
   margin-bottom: 50px;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 2px 4px 4px 3px rgba(158, 158, 158, 0.5);
   height: auto;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

article.form .icon-form i{
   background-color: var(--Textos-principais);
   color: var(--Fundos-secundários-seções);
   font-size: 2.5em;
   margin-bottom: 15px;
   width: 70px;
   height: 70px;
   border-radius: 8px;

   display: flex;
   justify-content: center;
   align-items: center;
}

article.form .text-form h3{
   color: var(--Textos-principais);
   margin-bottom: 5px;
}

article.form .text-form h4{
   color: var(--Botões-links-destaques);
   margin-bottom: 5px;
}

article.form .text-form p{
   color: var(--Textos-secundarios);
   line-height: 1.3em;
   margin-bottom: 5px;
}

article.form .button .andamento{
   background-color: var(--Fundo-principal-cards);
   color: var(--Textos-principais);
   margin: 5px 5px 5px 0px;
   padding: 10px;
   border: 0px;
   border-radius: 8px;
   box-shadow: 2px 2px 2px 1px rgba(24, 24, 24, 0.5);
   font-weight:bold;
}

article.form .button .ensino{
   background-color: var(--Fundo-principal-cards);
   color: var(--Textos-principais);
   margin: 5px 5px 5px 0px;
   padding: 10px;
   border: 0px;
   border-radius: 8px;
   box-shadow: 2px 2px 2px 1px rgba(24, 24, 24, 0.5);
   font-weight:bold;
}

article.form .button .local{
   background-color: var(--Fundo-principal-cards);
   color: var(--Textos-principais);
   margin: 5px 5px 5px 0px;
   padding: 10px;
   border: 0px;
   border-radius: 8px;
   box-shadow: 2px 2px 2px 1px rgba(24, 24, 24, 0.5);
   font-weight:bold;
}

article.form .button .local a{
   padding: 0px;
}

section#projetos{
   background-image: linear-gradient(to bottom, var(--Fundos-secundários-seções), var(--Fundo-principal-cards));
   margin-bottom: 50px;
}

section#projetos h2{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   grid-column: 2;
   text-align: center;
   height: 100px;
   width: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 2.1em;
   color: var(--Textos-principais);
}

section#projetos article.projetos{
   display: flex;
   flex-direction: column;
   align-items: center;
   grid-column: 2;
   background-color: var(--Fundo-principal-cards);
   border-radius: 8px;
   margin: 20px;
   padding: 20px;
   box-shadow: 2px 4px 4px 3px rgba(158, 158, 158, 0.2);
}

section#projetos article.projetos .projeto-icon i{
   background-color: var(--Textos-principais);
   color: var(--Fundo-principal-cards);
   font-size: 3em;
   padding: 10px;
   margin: 10px;
   width: 80px;
   height: 80px;
   border-radius: 50%;

   display: flex;
   justify-content: center;
   align-items: center;
}

section#projetos article.projetos .projeto-text{
   display: flex;
   align-items: center;
   flex-direction: column;
   height: auto;
   margin: 20px;
}

section#projetos article.projetos .projeto-text h3{
   color: var(--Textos-principais);
   margin: 10px;
   font-size: 1.6em;
}

section#projetos article.projetos .projeto-text p{
   color: var(--Botões-links-destaques);
   text-align: center;
   line-height: 1.5em;
   font-size: 1.1em;
   
}

section#projetos article.projetos .projeto-button{
   height: auto;
   display: flex;
   flex-direction: column;
}

section#projetos .projetos .projeto-local {
   background-color: var(--Fundos-secundários-seções);
   color: var(--Botões-links-destaques);
   font-weight: bold;
   font-size: 1em;
   padding: 20px;
   margin: 10px;
   border: 0px;
   border-radius: 8px;
}

footer{
   background-color: var(--Textos-principais);
   display: grid;
   gap: 8px;
   user-select: none;
}

footer .descricao{
   color: var(--Fundo-principal-cards);
   padding: 10px 0px 10px 15px;
}

footer .descricao p{
   color: var(--Textos-secundarios);
   margin-top: 10px;
}

footer .links-rapidos{
   color: var(--Fundo-principal-cards);
   padding: 10px 0px 10px 15px;
   display: flex;
   flex-direction: column;
}

footer .links-rapidos a{
   color: var(--Textos-secundarios);
   text-decoration: none;
   margin: 10px 0px 10px 0px;
}

footer .contatos{
   color: var(--Fundo-principal-cards);
   padding: 10px 0px 10px 15px;
   border-bottom: 1px solid var(--Textos-secundarios);
}

footer .contatos p{
   color: var(--Textos-secundarios);
   padding: 10px 0px 10px 0px;
}

div.footer-icons i{
   background-color:rgba(255, 255, 255, 0.1);
   font-size: 1.6em;
   padding: 8px;
   margin: 0px 10px 20px 0px;
   border-radius: 4px;
}

div.footer-icons i:hover{
   background-color: var(--Botões-links-destaques);
}

footer .footer-end h2{
   color: var(--Fundo-principal-cards);
}

div.end{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   text-align: center;
   height: 50px;
   color: var(--Textos-secundarios);
}