@charset "UTF-8";

:root{
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --subtexto: #02002c;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;

  --extra-1: #f8faff; 
  --textos-negritos: #000000;
}

body.escuro{
   --fundo-principal: ;
}

*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body{
   background-color: var(--fundo-principal);
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.5em;
   height: 100vh;
}

header{
   background-color: var(--destaque);
   height: 50px;
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   border-bottom: 2px solid var(--extra-1);
}

nav#menu{
   width: 100vw;
}

nav#menu ul{
   width: 100%;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-items: center;
}

#menu ul li{
   list-style: none;
}

a.topo{
   color: var(--extra-1);
   padding: 8px;
   border-radius: 8px;
   font-size: 1.2em;
   transition: background-color .5s, color .5s;
}

a.topo:hover{
   background-color: var(--destaque-inverso);
   color: var(--destaque);
}

.link{
   color: var(--extra-1);
   padding: 8px;
   border-radius: 8px;
   font-size: 1.2em;
   transition: background-color .5s, color .5s;
}

.link:hover{
   background-color: var(--destaque-inverso);
   color: var(--destaque);
}

main{
   display: grid;
   grid-template-columns: 10px 1fr 10px;
   gap: 16px;
}

section{
   border-radius: 8px;
   background-color: var(--fundo-card);
   grid-column: 2;
}

section#home img{
   display: block;
   margin: 20px auto;
   grid-column: 2;
   width: 200px;
   aspect-ratio: 1/1;
   border-radius: 50%;
   border: 5px solid var(--extra-1);
   outline: 5px solid var(--destaque);
}

section#home h1{
   color: var(--destaque);
   margin: 20px;
   text-align: center;
   font-size: 2em;
}

section#home h2{
   color: var(--subtexto);
   margin: 20px;
   text-align: center;
   font-size: 1.2em;
}

section p{
   font-size: 1em;
   color: var(--texto);
   padding: 20px;
}

section a{
   color: var(--textos-negritos);
   font-size: 1em;
   font-weight: bold;
   text-decoration: none;
   padding: 2px;
}

section a:hover{
   color: var(--destaque);
}

div.icons-social{
   text-align: center;
   display: flex;
   justify-content: center;
   font-size: 2em;
   margin-bottom: 20px;
}

div.icons-social a{
   color: var(--destaque); 
   padding: 5px;
   margin: 5px;
   border-radius: 8px;
   transition: color 0.3s;
}

div.icons-social a:hover{
   color: var(--destaque-inverso);
}

section#skills{
   display: grid;
}

section#skills h1{
   color: var(--destaque);
   text-align: center;
   margin: 20px;
}

.skills-tec{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 16px;
   padding: 20px;
}

.skills-tec h2{
   grid-column: 1/3;
   text-align: center;
}

div.itens{
   background-color: var(--destaque-inverso);
   border-radius: 4px;
   grid-column: 1/3;
   width: 90%;
   height: 50px;
   margin: auto;
   overflow: hidden;
   border-radius: 10px;
   border: 2px solid var(--subtexto);

   display: flex;
   align-items: center;
}

.icons{
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--destaque);
  height: 100%;
  font-size: 1.8rem;
  border-radius: 10px 0px 0px 10px;
  border-right: 2px solid var(--subtexto);
}

.itens span{
  flex: 0 0 80%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 100%;
  font-weight: 600;
  letter-spacing: 1px;
}

.soft-skills{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 16px;
   padding: 20px;
}

.soft-skills h2{
   grid-column: 1/3;
   text-align: center;
}

.soft-skills .itens-list{
   color: var(--subtexto);
   text-align: center;
   border: 2px solid var(--texto);
   border-radius: 8px;
   box-shadow: 2px 2px 2px 2px black;
   padding: 2px;
}

.soft-skills .itens-list:hover{
   background-image: linear-gradient(to bottom, var(--extra-1), var(--destaque-inverso));
}