@charset "UTF-8";

:root{
   --Fundo-principal-cards: #FFFFFF;
   --Fundos-secundários-seções: #E3F2FD;
   --Botões-links-destaques: #2196F3;
   --Textos-principais: #1565C0;
   --Bordas-separadores: #F5F5F5;
   --Textos-secundarios: #9E9E9E;
}

*{
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
   user-select: none;
}

section#welcome{
   background: linear-gradient(rgba(21,101,192,0.6), rgba(21,101,192,0.6)), url(../imagens/fundo2-welcome.jpg);
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

header{
   color: var(--Fundo-principal-cards);
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 10%;
}

header h2 a{
   background: linear-gradient(to right, var(--Bordas-separadores), var(--Botões-links-destaques));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   text-decoration: none;
   padding-right: 20px;
}

#burger{
   margin: 20px;
   padding: 2px;
   font-size: 2em;
}

#burger:hover{
   background-color: var(--Fundos-secundários-seções);
   color: var(--Botões-links-destaques);
   padding: 3px;
   border-radius: 8px;
}

#menu-lateral{
   background-color: var(--Fundos-secundários-seções);
   position: fixed;
   top: 0;
   left: 0;
   width: 270px;
   height: 50vh;
   transform: translateX(-100%);
   transition: transform 0.3s ease;
   z-index: 1;
}

#menu-lateral.ativo{
   transform: translateX(0);
}

.topo-menu{
   background-color: var(--Fundos-secundários-seções);
   color: var(--Botões-links-destaques);
   height: 60px;
   display: flex;
   align-items: center;
   padding-left: 20px;
   font-size: 2em;
   border-bottom: 2px solid var(--Botões-links-destaques);
}

#fechar{
   background-color: var(--Textos-principais);
   color: var(--Fundos-secundários-seções);
   font-size: 32px;
   cursor: pointer;
   padding: 2px;
   border-radius: 8px;
}

div.hello{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 85%;
}

div.hello h1{
   color: var(--Fundo-principal-cards);
   margin: 25px;
   text-align: center;
   font-size: 2.4em;
}

div.hello h2{
   color: var(--Fundo-principal-cards);
}

div.hello p{
   color: var(--Fundo-principal-cards);
   text-align: center;
   font-size: 1.1em;
   line-height: 1.5em;
   margin: 20px;
   padding: 10px;
}

.button a{
   background-color: var(--Fundo-principal-cards);
   color: var(--Textos-principais);
   text-decoration: none;
   font-weight: bold;
   display: inline-flex;
   align-items: center;
   padding: 20px;
   border-radius: 12px;
   gap: 8px; 
}

.button a i{
   transition: transform 0.3s ease;
}

.button a:hover i{
   transform: translateX(6px);
}

.button{
  opacity: 0;
  transform: translateY(30px);
  animation: subir 1s ease forwards;
}

@keyframes subir{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}