@charset "UTF-8";

:root{
   --Fundo-principal-cards: #FFFFFF;
   --Fundos-secundários-seções: #E3F2FD;
   --Botões-links-destaques: #2196F3;
   --Textos-principais: #1565C0;
   --Bordas-separadores: #F5F5F5;
   --Textos-secundarios: #9E9E9E;
}

*{
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
   user-select: none;
}

section#welcome{
   background: linear-gradient(rgba(21,101,192,0.6), rgba(21,101,192,0.6)), url(../imagens/fundo2-welcome.jpg);
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: local;
}

header{
   color: var(--Fundo-principal-cards);
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
}

header h2 a{
   background: linear-gradient(to right, var(--Bordas-separadores), var(--Botões-links-destaques));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   text-decoration: none;
   padding-right: 20px;
}

#burger{
   margin: 20px;
   padding: 2px;
   font-size: 2em;
}

#burger:hover{
   background-color: var(--Fundos-secundários-seções);
   color: var(--Botões-links-destaques);
   padding: 3px;
   border-radius: 8px;
}

#menu-lateral{
   background: linear-gradient( to right,rgba(227, 242, 253,0.9), rgba(21,101,192,1));
   border-radius: 0px 0px 12px 0px;
   position: fixed;
   top: 0;
   left: 0;
   width: 210px;
   height: 300px;
   transform: translateX(-100%);
   transition: transform 0.3s ease;
   z-index: 1;
}

.list-menu #list-top{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding-left: 10px;
   height: 240px;
   border-radius: 0px 0px 12px 0px;
   font-size: 1.4em;
}

.list-menu #list-top li{
   list-style: none;
}

.list-menu a{
   text-decoration: none;
   color: var(--Textos-principais);
}

.list-menu a:hover{
   color: var(--Botões-links-destaques);
}

#menu-lateral.ativo{
   transform: translateX(0);
}

.topo-menu{
   color: var(--Botões-links-destaques);
   height: 60px;
   display: flex;
   align-items: center;
   border-bottom: 2px solid var(--Fundos-secundários-seções);
}

#fechar{
   margin: 20px;
   padding: 2px;
   font-size: 2em;
   background-color: var(--Fundos-secundários-seções);
   color: var(--Botões-links-destaques);
   padding: 3px;
   border-radius: 8px;
}

#fechar:hover{
   background-color: var(--Fundos-secundários-seções);
   color: var(--Textos-principais);
   
   border-radius: 8px;
}

div.hello{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 85%;
}

div.hello h1{
   color: var(--Fundo-principal-cards);
   margin: 25px;
   text-align: center;
   font-size: 2.4em;
}

div.hello h2{
   color: var(--Fundo-principal-cards);
}

div.hello p{
   color: var(--Fundo-principal-cards);
   text-align: center;
   font-size: 1.1em;
   line-height: 1.5em;
   margin: 20px;
   padding: 10px;
}

.button a{
   background-color: var(--Fundo-principal-cards);
   color: var(--Textos-principais);
   text-decoration: none;
   font-weight: bold;
   display: inline-flex;
   align-items: center;
   padding: 20px;
   border-radius: 12px;
   gap: 8px; 
}

.button a i{
   transition: transform 0.3s ease;
}

.button a:hover i{
   transform: translateX(6px);
}

.button{
  opacity: 0;
  transform: translateY(30px);
  animation: subir 1s ease forwards;
}

@keyframes subir{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

section#sobre, #skills, #formacao, #projetos{
   display: grid;
   grid-template-columns: 15px 1fr 15px;
}

section#sobre h2{
   grid-column: 2;
   text-align: center;
   margin-top: 50px;
   padding-bottom: 20px;
   font-size: 2.4em;
   color: var(--Textos-principais);
}

section#sobre article{
   grid-column: 2;
   background-color: var(--Fundos-secundários-seções);
   margin-bottom: 100px;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

section#sobre article h3{
   color: var(--Textos-principais);
   font-size: 1.6em;
}

section#sobre article p{
   background: linear-gradient(to bottom, var(--Fundo-principal-cards), var(--Fundos-secundários-seções));
   color: var(--Textos-principais);
   box-shadow: 2px 4px 4px 3px rgba(158, 158, 158, 0.2);
   margin: 20px;
   padding: 15px;
   font-size: 1.1em;
   line-height: 1.5em;
   border-radius: 8px;
}

section#sobre article p a{
   color: var(--Textos-secundarios);
   text-decoration: none;
   font-weight: bold;
}

section#sobre article p a:hover{
   color: var(--Botões-links-destaques);
}

.foto-perfil{
   grid-column: 2;
   width: 200px;
   margin: 20px;
   border-radius: 50%;
   border: 5px solid var(--Fundo-principal-cards);
   outline: 5px solid var(--Botões-links-destaques);
}

section#skills{
   background-color: var(--Fundos-secundários-seções);
}

section#skills h2{
   grid-column: 2;
   text-align: center;
   margin-top: 50px;
   padding-bottom: 20px;
   font-size: 2.4em;
   color: var(--Textos-principais);
}

section#skills #text-skills{
   grid-column: 2;
   text-align: center;
   padding-bottom: 20px;
   margin: 20px;
   color: var(--Botões-links-destaques);
   line-height: 1.5em;
}

#text-skills{
   margin-bottom: 20px;
}

section#skills .skills-itens{
   grid-column: 2;
   background-color: red;
   margin: 10px;
   padding: 20px;
}