@charset "UTF-8";

:root{
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --subtexto: #02002c;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;

  --branco-azulado: #f8faff; 
  --textos-negritos: #000000;
}

*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body{
   background-color: var(--fundo-principal);
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.5em;
   height: 100vh;
}

header{
   background-color: var(--destaque);
   height: 50px;
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

nav#menu{
   width: 100vw;
}

nav#menu ul{
   width: 100%;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-items: center;
}

#menu ul li{
   list-style: none;
}

a.topo{
   color: var(--branco-azulado);
   padding: 8px;
   border-radius: 8px;
   font-size: 1.6em;
   transition: background-color .5s, color .5s;
}

a.topo:hover{
   background-color: var(--destaque-inverso);
   color: var(--destaque);
}

main{
   display: grid;
   grid-template-columns: 10px 1fr 10px;
   gap: 16px;
}

section{
   border-radius: 8px;
}

section#home{
   background-color: var(--fundo-card);
   grid-column: 2;
}

section#home img{
   display: block;
   margin: auto;
   grid-column: 2;
   width: 200px;
   aspect-ratio: 1/1;
   border-radius: 50%;
   border: 5px solid var(--branco-azulado);
   outline: 5px solid var(--destaque);
}

section#home h1{
   color: var(--destaque);
   margin: 20px;
   text-align: center;
   font-size: 2em;
}

section#home h2{
   color: var(--subtexto);
   margin: 20px;
   text-align: center;
   font-size: 1.2em;
}

section p{
   font-size: 1em;
   color: var(--texto);
   padding: 20px;
}

section a{
   color: var(--textos-negritos);
   font-size: 1em;
   font-weight: bold;
   text-decoration: none;
   padding: 2px;
}

section a:hover{
   color: var(--destaque);
}

div.icons-social{
   text-align: center;
   display: flex;
   justify-content: center;
   font-size: 2em;
   margin-bottom: 20px;
}

div.icons-social a{
   color: var(--destaque); 
   padding: 5px;
   margin: 5px;
   border-radius: 8px;
   transition: color 0.3s;
}

div.icons-social a:hover{
   color: var(--destaque-inverso);
}
